// Variables

// $background-color: #fefae0;
$background-color-dark: #1B2733;

$background-color-dark-secondary: #19328a;

// $font-color: #1B2733;
$font-color-dark: #fefae0;

$links: #1B2733;
$links-dark: #fefae0;

// $card-background: #faedcd;
$card-background-dark: #27323E;

$footer-dark: #001a2c;

// Fonts
// @import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap';

// $font-family: 'Roboto', sans-serif;
